%div.highlighted-data{class: user_color_scheme_class}
  .line-numbers
    - blob.data.lines.size.times do |index|
      - i = index + 1
      = link_to "#L#{i}", id: "L#{i}", rel: "#L#{i}" do
        %i.icon-link
        = i
  .highlight
    %pre
      %code
        = raw blob.data
