.solarized-dark {
  background-color: #002B36;

  .highlight{
    border-left: 1px solid #113b46;
  }

  .line.hll {
    background: #000;
  }

  pre {
    background-color: #002B36;
    color: #eee;
  }

  .line-numbers a {
    color: #666;
  }

  .hljs {
    display: block;
    background: #002b36;
    color: #839496;
  }

  .hljs-comment,
  .hljs-template_comment,
  .diff .hljs-header,
  .hljs-doctype,
  .hljs-pi,
  .lisp .hljs-string,
  .hljs-javadoc {
    color: #586e75;
  }

  /* Solarized Green */
  .hljs-keyword,
  .hljs-winutils,
  .method,
  .hljs-addition,
  .css .hljs-tag,
  .hljs-request,
  .hljs-status,
  .nginx .hljs-title {
    color: #859900;
  }

  /* Solarized Cyan */
  .hljs-number,
  .hljs-command,
  .hljs-string,
  .hljs-tag .hljs-value,
  .hljs-rules .hljs-value,
  .hljs-phpdoc,
  .tex .hljs-formula,
  .hljs-regexp,
  .hljs-hexcolor,
  .hljs-link_url {
    color: #2aa198;
  }

  /* Solarized Blue */
  .hljs-title,
  .hljs-localvars,
  .hljs-chunk,
  .hljs-decorator,
  .hljs-built_in,
  .hljs-identifier,
  .vhdl .hljs-literal,
  .hljs-id,
  .css .hljs-function {
    color: #268bd2;
  }

  /* Solarized Yellow */
  .hljs-attribute,
  .hljs-variable,
  .lisp .hljs-body,
  .smalltalk .hljs-number,
  .hljs-constant,
  .hljs-class .hljs-title,
  .hljs-parent,
  .haskell .hljs-type,
  .hljs-link_reference {
    color: #b58900;
  }

  /* Solarized Orange */
  .hljs-preprocessor,
  .hljs-preprocessor .hljs-keyword,
  .hljs-pragma,
  .hljs-shebang,
  .hljs-symbol,
  .hljs-symbol .hljs-string,
  .diff .hljs-change,
  .hljs-special,
  .hljs-attr_selector,
  .hljs-subst,
  .hljs-cdata,
  .clojure .hljs-title,
  .css .hljs-pseudo,
  .hljs-header {
    color: #cb4b16;
  }

  /* Solarized Red */
  .hljs-deletion,
  .hljs-important {
    color: #dc322f;
  }

  /* Solarized Violet */
  .hljs-link_label {
    color: #6c71c4;
  }

  .tex .hljs-formula {
    background: #073642;
  }
}
